{% extends 'base.html' %}
{% block content %}
{% for mess in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss='alert' aria-label="Close" class="fade close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{mess}}
</div>
{% endfor %}
<div class="container">
    <div class="row">

        {% for item in data %}
            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-red">
                    <div class="inner">
                        <h3 style="text-align: center;">{{ item.country }}</h3>
                        Confirmed: {{ item.confirmed }} <br>
                        Active: {{ item.active }} <br>
                        Recovered: {{ item.recovered }} <br>  
                        Deaths: {{ item.deaths }} <br>
                        LastUpdated: {{ item.updated }}
                    </div>
                    <div class="icon">
                        <i class="fa fa-optin-monster" aria-hidden="true"></i>
                    </div>
                    <!-- <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a> -->
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}